:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  --text-main: #494949;
  --text-sub: #4E4E4E;
  --text-accent: #FF7CB5;
  --bg-man: #4B4251;
}


body {
  margin: 0;
  padding: 2rem;
  min-width: 320px;
  min-height: 100vh;
  max-width: 420px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Noto Sans KR', sans-serif;
  color: var(--text-main);
}


.accent-font {
  font-family: 'Nanum Pen Script', cursive;
}

.center-text {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.4rem;
}


.sub-text {
  color: var(--text-sub);
  text-decoration: none;
}

.accent-text {
  color: var(--text-accent);
}


.character {
  height: 110px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.man-1 {
    background-image: url('/images/man_1.png');
}

.man-2 {
    background-image: url('/images/man_2.png');
    background-position: right;
}

.man-3 {
    background-image: url('/images/man_3.png');
    background-position: right;
}

.woman-1 {
    background-image: url('/images/woman_1.png');
}

.woman-2 {
    background-image: url('/images/woman_2.png');
    background-position: left;
}

.woman-3 {
    background-image: url('/images/woman_3.png');
    background-position: left;
}

.love {
  width: 30px;
  height: 30px;
}

.centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-section {
  font-size: 3rem;
}

.section-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0rem;
  text-align: center;
}

.love-icon {
  width: 30px;
}

.pos-info {
  font-size: 1.2rem;
}

.date-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.date-table {
  text-align: center;
}

.date-table  td {
  width: 36px;
  height: 36px;

  text-align: center;
}

.date-table td:first-child {
  color: var(--text-accent);
}

.active-day {
  width: 30px;
  height: 30px; 
  border: 2px solid var(--text-accent);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  margin: 4rem 0;
}

.fix-width {
  width: 40px;
  display: inline-block;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map-hint {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.map-hint li + li {
  margin-top: 1rem;
}

.map-hint-sub {
  list-style: disc;
}

.map-hint-sub li:first-child {
  margin-top: 1rem;
}

.map-hint-sub img {
  max-width: 1.8rem;
}

.hint-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-accent);
  margin: 0.8rem 0;
}

.list > li + li {
  margin-top: 1rem;
}

.call {
  margin-left: 20px;
  text-decoration: none;
}
 
.map-image {
  width: 100%;
}

button.lm-btn {
  color: white;
  font-weight: bold;
  background-color: var(--bg-man);
  padding: 0.6rem 3rem;
}

.lm-btn:hover {
  color: white !important;
  background-color: var(--bg-man) !important;
}

.link-list {
  text-align: center;
  margin-top: 1rem;
}

.link-accent {
  color: white !important;
  background-color: var(--text-accent) !important;
}

.link-accent:hover {
  color: white !important;
  background-color: var(--text-accent) !important;
}

.lottie-love {
  position: absolute;
  left: 50%;
  top: 0;
  width: 200px;
  height: 200px;
  transform: translateX(-50%);
}

.lottie-fellDown {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 400px;
}

.player-group {
  display: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 2s;
}

.centered-text {
  text-align: center;
}

.footer-fixed {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: rgba(43, 43, 43, 0.555);
}

.footer-cover {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.footer-cover p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 0.4rem;
  padding: 0;
  margin-bottom: 0;
  color: white;
}

.footer-player-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 3rem;
}

.pswp-gallery a {
  text-decoration: none;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.cover-image {
  height: 120px;
  flex: 1 0 30%;
  background-size: cover;
  background-position: center;
}

